.super-mario{
   position: absolute;
   z-index: 2;
}
.goomba{
    position: absolute;
    z-index: 1;
}
.baloon{
    
    top: 2000px;
    position: absolute;
    z-index: 3;
}
.word{
    top: 2050px;
    z-index: 4;
    left: 60px;
    position: absolute;
    
}
.bowser{
    top: 1850px;
   left: 300px;
   
   position:absolute;
}
