html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
@media screen and (max-width: 380px){
    body{
        background-color: rgb(255, 207, 131);
    }
    p{
        padding: 0% 6%;
        font-size: 18px;
    }
    h1, h2, h3{
        font-size: 20px;
        padding: 0% 6%;
    }
}
@media screen and (max-width: 770px){
    body{
        background-color: rgb(226, 151, 151);
    }
}